@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
//Color variables
$red: #e20001;
$black: #191919;
//Breakpoints
$xm: "320px";
$sm: "480px";
$md: "780px";
$lg: "1025px";
$bg: "1208px";
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.links {
    margin-top: 20px;
}

.container {
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    margin: 0 auto;
    overflow: none;
    .wrapper {
        padding: 0 48px;
        max-width: 80%;
        margin: 0 auto;
        position: relative;
        .home {
            justify-content: center;
            align-items: center;
            height: 100%;
            p {
                font-size: 0.75rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-weight: 500;
            }
            h5 {
                font-size: 24px;
                font-weight: 600;
                width: 300px;
                @media(max-width: $xm) {
                    width: 150px;
                }
                @media(min-width: $sm) {
                    width: 290px;
                }
                @media(min-width: $md) {
                    width: 769px;
                }
            }
        }
    }
}

header {
    height: 10vh;
    .inner-header {
        position: relative;
        z-index: 10;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo a {
            font-weight: 700;
            font-size: 1rem;
            text-decoration: none;
            color: $black;
        }
        .menu {
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-size: 0.8rem;
                mix-blend-mode: difference;
            }
        }
    }
    .hamburger-menu {
        display: none;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        .menu-secondary-background-color {
            background: $black;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        .menu-layer {
            position: relative;
            background: $red;
            height: 100%;
            overflow: hidden;
            .menu-city-background {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-size: cover;
                background-repeat: no-repeat;
                animation-name: backgroundEffect;
                animation-duration: 30s;
                animation-iteration-count: infinite;
            }
            .wrapper {
                position: relative;
                .menu-links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    top: 200px;
                    width: 100%;
                    @media(max-width: $lg) {
                        display: flex;
                        align-items: left;
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                    nav {
                        width: 100%;
                        display: block;
                        position: relative;
                        ul {
                            margin: 0;
                            padding: 0;
                            li {
                                list-style: none;
                                font-size: 6rem;
                                font-weight: 700;
                                cursor: pointer;
                                height: 135px;
                                overflow: hidden;
                                position: relative;
                                width: 700px;
                                @media(max-width: $md) {
                                    width: 500px;
                                    font-size: 4rem;
                                }
                                @media(max-width: $sm) {
                                    width: 300px;
                                    font-size: 2rem;
                                }
                                a {
                                    position: absolute;
                                    color: #fff;
                                    text-decoration: none;
                                    &:hover {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                    .info {
                        color: #fff;
                        width: 300px;
                        h3 {
                            font-size: 1.2rem;
                            margin: 8px auto;
                        }
                        p {
                            margin: 0 auto;
                            font-size: 0.8rem;
                        }
                    }
                }
                .locations {
                    position: absolute;
                    bottom: -80px;
                    width: 80%;
                    color: #fff;
                    margin-top: 16px;
                    margin: 0 auto;
                    font-size: 0.8rem;
                    font-weight: 600;
                    span {
                        cursor: pointer;
                        &:first-child {
                            margin-left: 64px;
                        }
                        font-weight: 400;
                        margin: 0 32px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: #fff;
                            background: $black;
                            padding: 8px 24px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes backgroundEffect {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 40% 10%;
    }
    50% {
        background-position: 0 10%;
    }
    75% {
        background-position: 10% 40%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.top-hero {
    width: 80vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-main {
    min-width: 100%;
    border-radius: 18px;
    position: relative;
    background-color: #d7d7d7;
    display: flex;
    overflow: hidden;
    justify-content: center;
    justify-content: space-around;
}

.cta {
    min-width: 80vw;
    min-height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media(max-width: $md) {
        height: 100%;
    }
    @media(max-width: $lg) {
        flex-direction: column;
    }
    .cta-inner {
        position: relative;
        width: 300px;
        top: 20%;
        height: 100%;
        padding: 2rem 2rem 3rem 2rem;
    }
    .cta-img {
        position: relative;
        border-radius: 18px;
        @media(max-width: $lg) {
            flex-direction: column;
            width: 450px;
            top: 20%;
        }
        @media(max-width: $md) {
            flex-direction: column;
            width: 350px;
            top: 20%;
        }
        .img-inner {
            @media(max-width: $lg) {
                flex-direction: column;
                width: 300px;
            }
            @media(max-width: $md) {
                flex-direction: column;
                width: 250px;
            }
        }
    }
}

.typo {
    width: 100%;
    height: 100%;
    position: relative;
    @media(max-width: $xm) {
        width: 200px;
    }
    @media(max-width: $sm) {
        width: 300px;
    }
    @media(min-width: $md) {
        width: 400px;
    }
    @media(min-width: $lg) {
        width: 100%;
    }
    h1 {
        width: 400px;
        @media(min-width: $xm) {
            width: 290px;
            font-size: 40px;
        }
        @media(min-width: $sm) {
            width: 350px;
            font-size: 50px;
        }
        @media(min-width: $md) {
            font-size: 60px;
        }
        @media(min-width: $lg) {
            font-size: 100px;
        }
    }
    .red-background {
        width: 250px;
        height: 30px;
        position: relative;
        background-color: $red;
        @media(min-width: $xm) {
            width: 50px;
            height: 10px;
        }
        @media(min-width: $sm) {
            width: 150px;
            height: 20px;
        }
        @media(min-width: $md) {
            width: 250px;
            height: 30px;
        }
        @media(min-width: $lg) {
            width: 250px;
            height: 30px;
        }
    }
}

.mock {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    @media(max-width: $xm) {
        top: 40%;
        width: 200px;
    }
    @media(max-width: $sm) {
        top: 50%;
        width: 300px;
    }
    @media(min-width: $md) {
        width: 400px;
    }
    @media(min-width: $lg) {
        width: 100%;
    }
}

.video-sec {
    width: 100%;
    height: 100vh;
    position: relative;
    .videoGrid {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        @media(max-width: $bg) {
            flex-direction: column;
            margin-left: 50px;
            margin-right: 50px;
        }
        .vid1 {
            width: 100%;
            @media(max-width: $bg) {
                width: 300px;
            }
        }
        .vid2 {
            width: 100%;
            @media(max-width: $bg) {
                width: 300px;
            }
        }
    }
}

.banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 3rem;
    }
}

.brands {
    width: 100%;
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .row {
        min-width: 100%;
        min-height: 100%;
        justify-content: center;
        display: flex;
        position: relative;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 50px;
        .item {
            justify-content: center;
            flex: 1;
        }
    }
}

.project-hero {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 150px;
}

.form-group {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 100%;
    form {
        min-width: 50%;
        min-height: 100%;
        position: relative;
        .row {
            height: 100%;
            position: relative;
            .form-sec {
                min-height: 60px;
                min-width: 100%;
                .form-field {
                    min-width: 100%;
                    input,
                    textarea {
                        min-width: 100%;
                        min-height: 50px;
                        margin: 20px 0 20px 0;
                        padding: 0 20px 0 20px;
                    }
                    textarea {
                        min-height: 150px;
                    }
                }
                .lottie {
                    min-width: 300px;
                    min-height: 100%;
                    position: relative;
                }
            }
        }
    }
}

footer {
    min-height: 100%;
    min-width: 100vw;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    .footerSec {
        width: 33, 3%;
        min-height: 200px;
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        #sec1 {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 18px 0 0;
        }
        #copyright {
            position: absolute;
            bottom: 0;
        }
    }
}